section {
   display: flex;
   width: 300px;
   margin: 0 auto;
   justify-content: space-around;
   flex-wrap: wrap;
}

section h1 {
   text-align: center;
}

section #ima1 {
  background: url('../imagesHabillage/monogrammeSprite.png') no-repeat;
  background-position-y: 0;
  width: 100px;
  height: 100px;
}

section #ima1:hover {
  background-position-y: -100px;
}

section #ima2 {
  background: url('../imagesHabillage/monogrammeSprite.png') no-repeat;
  width: 100px;
  height: 100px;
  flex-basis: 130px;
  background-position: 0 0;
  transition: background-position 1s;
}

section #ima2:hover {
   background-position: 0 -100px;
   transition: background-position 2s;
}
